.main-container {
 display: flex;
 width: 100%;
 margin: 0 auto;
 margin-top: 2rem;

 .category-container {
  margin-left: 1rem;
  margin-right: 1rem;

  .category-section {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: .5rem;
   font-size: 1rem;
   font-weight: 500;
   text-decoration: none;

   .dropdown-head {
    font-weight: 500;
   }

   .dropdown-list {
    margin-left: 1rem;
   }

   ul {
    list-style-type: none;

    li {
     margin-bottom: 0.8rem;
    }

    a {
     color: #19191D;
     font-weight: 400;
     text-decoration: none;
    }

    a:hover {
     color: #26262c;
     font-weight: 500;
    }
   }

   .filter-link {
    margin-left: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
   }

   .btn-filter {
    position: relative;
    text-align: start;
    width: 100%;
    box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24),
     0px 2px 4px rgba(90, 91, 106, 0.24);
    border-radius: 4px;

    .bi-chevron-down {
     position: absolute;
     right: 1rem;
    }
   }

  }

  .btn-categories {
   width: 20rem;
   border: 1px solid #9DC2FF;
   border-radius: 8px;
   color: #2264D1;
   font-family: 'Quicksand',
    sans-serif;
   font-weight: 700;
   font-size: 1.5rem;

   .bi-filter {
    font-size: 1.5rem;
   }
  }

  .btn-filter-section {
   margin-top: 1rem;

   .btn-secondary {
    margin-left: 2rem;
   }
  }
 }

 .products-section {
  width: 90rem;
  border-radius: 1rem;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24),
   0px 2px 4px rgba(90, 91, 106, 0.24);

  .products {
   margin-top: 1rem;
   margin-left: -1rem;
   display: flex;
   flex-wrap: wrap;

   .card {
    margin-right: .5rem;
    margin-bottom: 1rem;
   }
  }

  .products-tag {
   display: flex;
   margin-top: 1rem;
   margin-left: 1.5rem;

   .btn-rounded {
    margin-left: 0.5rem;
    width: 6rem;
    height: 2rem;
    font-size: .8rem;
    color: #4A4B57;
    text-align: center;
    border-radius: 6rem !important;
    background: #EDEDF0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
   }

   .btn-rounded:hover {
    color: #3e3f47;
    font-weight: bolder
   }

   p {
    font-weight: 500;
    margin-top: .3rem;

   }
  }

  .product-options {
   display: flex;
   margin-top: 1rem;
   justify-content: space-between;

   .products-option-left {
    display: flex;

    .products-sorting {
     margin-left: 1.5rem;
     margin-right: 1.5rem;
     border-right: 1px solid #5A5B6A;
     border-left: 1px solid #5A5B6A;
     border-bottom: 1px solid #5A5B6A;
     width: 15rem;
     box-sizing: border-box;
     border-radius: 4px;
     position: relative;

     a {
      width: 100%;
      text-align: start;
      position: relative;

      i {
       position: absolute;
       right: 1rem;
      }
     }

     h2 {
      width: 100%;
      position: absolute;
      left: 0;
      top: -2px;
      text-align: start;
      border-bottom: 1px solid #000;
      font-weight: 500;
      font-size: 0.6rem;
      line-height: 0.1rem;
      border-radius: 4px;

     }

     h2 span {
      background: #fff;
      margin-left: 0.6rem;
      padding: 0 2px;
     }
    }

    .products-condition {
     width: 15rem;
     position: relative;
     border: 1px solid #B4B4BB;
     box-sizing: border-box;
     border-radius: 4px;

     a {
      i {
       position: absolute;
       right: 1rem;
      }
     }
    }
   }

   .products-option-right {
    margin-right: 1rem;

    .btn-link {
     margin: 0 -0.2rem;
     font-size: 0.8rem;
     background: #EBF2FF;
     border-radius: 4px;
     max-width: 8rem;
     height: 2rem;
     text-decoration: none;

     a {
      word-wrap: none;
      text-align: center;
      color: #2264D1;
     }
    }

    .btn-link.actived {
     background: #fff;
     box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24),
      0px 2px 4px rgba(41, 121, 255, 0.24);
     border-radius: 4px;
    }
   }
  }
 }

}
