.slide-container-1 {
 max-width: 1920px;
 margin: 0 auto;

 .splide {
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
 }
}



.splide-2 {
 margin-top: 50px;

 .splide__list {
  display: flex;
 }
}