@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Quicksand:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

nav {
  font-size: 1.25rem;
}

nav .navbar-toggler {
  margin-top: 1.25rem;
}

nav .navbar-brand {
  margin-left: 2rem;
  margin-top: 1.25rem;
}

nav .navbar-brand img {
  max-width: 11rem;
}

nav .navbar-section {
  margin-top: 1rem;
  margin-left: 2rem;
}

nav .search-form {
  position: relative;
  margin-top: 1.25rem;
}

nav .search-form input {
  border-radius: 50px;
  max-width: 100% !important;
  height: 44px;
}

nav .search-form img {
  width: 1.25rem;
  height: 1.25rem;
}

nav .search-form button {
  position: absolute;
  background-color: #fff;
  top: 2px;
  right: 15px;
}

nav .ic-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
  margin-left: 5px;
}

nav .ic-nav .cart {
  width: 30px;
}

nav .ic-nav .bell {
  margin-left: 20px;
  margin-top: -3px;
  width: 40px;
}

nav .rounded {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50% !important;
  display: inline-block;
}

.slide-container-1 {
  max-width: 1920px;
  margin: 0 auto;
}

.slide-container-1 .splide {
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
}

.splide-2 {
  margin-top: 50px;
}

.splide-2 .splide__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hot-today-section {
  width: 100%;
  height: 42.9rem;
  background: rgba(196, 196, 196, 0.19);
  border-radius: 8rem;
  margin: 0 auto;
}

.hot-today-section .text {
  font-size: 3rem;
  font-weight: bold;
}

.card {
  margin-left: 50px;
  width: 18rem;
  height: 24rem;
  border-radius: 30px;
}

.card img {
  width: 10rem;
  height: 10rem;
}

.card .img {
  margin: 0 auto;
}

.card .product-name {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 1rem;
}

.card .product-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card .product-detail p {
  font-size: 1rem;
  font-weight: 700;
}

.card .product-detail .price {
  font-size: 1.2rem;
}

.card .product-detail .time {
  font-size: 1.2rem;
}

.card .product-tag {
  font-size: 0.8rem;
  color: #787885;
  margin-left: 1rem;
}

.card .product-star .checked {
  color: orange;
}

.card .product-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card .product-footer a {
  margin-top: -10px;
}

.card .product-footer .btn-primary {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #2264D1;
  font-size: 0.8rem;
  background-color: #fff;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}

.main-container .category-container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.main-container .category-container .category-section {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.main-container .category-container .category-section .dropdown-head {
  font-weight: 500;
}

.main-container .category-container .category-section .dropdown-list {
  margin-left: 1rem;
}

.main-container .category-container .category-section ul {
  list-style-type: none;
}

.main-container .category-container .category-section ul li {
  margin-bottom: 0.8rem;
}

.main-container .category-container .category-section ul a {
  color: #19191D;
  font-weight: 400;
  text-decoration: none;
}

.main-container .category-container .category-section ul a:hover {
  color: #26262c;
  font-weight: 500;
}

.main-container .category-container .category-section .filter-link {
  margin-left: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.main-container .category-container .category-section .btn-filter {
  position: relative;
  text-align: start;
  width: 100%;
  -webkit-box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
          box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 4px;
}

.main-container .category-container .category-section .btn-filter .bi-chevron-down {
  position: absolute;
  right: 1rem;
}

.main-container .category-container .btn-categories {
  width: 20rem;
  border: 1px solid #9DC2FF;
  border-radius: 8px;
  color: #2264D1;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.main-container .category-container .btn-categories .bi-filter {
  font-size: 1.5rem;
}

.main-container .category-container .btn-filter-section {
  margin-top: 1rem;
}

.main-container .category-container .btn-filter-section .btn-secondary {
  margin-left: 2rem;
}

.main-container .products-section {
  width: 90rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
          box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
}

.main-container .products-section .products {
  margin-top: 1rem;
  margin-left: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-container .products-section .products .card {
  margin-right: .5rem;
  margin-bottom: 1rem;
}

.main-container .products-section .products-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.main-container .products-section .products-tag .btn-rounded {
  margin-left: 0.5rem;
  width: 6rem;
  height: 2rem;
  font-size: .8rem;
  color: #4A4B57;
  text-align: center;
  border-radius: 6rem !important;
  background: #EDEDF0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.main-container .products-section .products-tag .btn-rounded:hover {
  color: #3e3f47;
  font-weight: bolder;
}

.main-container .products-section .products-tag p {
  font-weight: 500;
  margin-top: .3rem;
}

.main-container .products-section .product-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container .products-section .product-options .products-option-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .products-section .product-options .products-option-left .products-sorting {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-right: 1px solid #5A5B6A;
  border-left: 1px solid #5A5B6A;
  border-bottom: 1px solid #5A5B6A;
  width: 15rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  position: relative;
}

.main-container .products-section .product-options .products-option-left .products-sorting a {
  width: 100%;
  text-align: start;
  position: relative;
}

.main-container .products-section .product-options .products-option-left .products-sorting a i {
  position: absolute;
  right: 1rem;
}

.main-container .products-section .product-options .products-option-left .products-sorting h2 {
  width: 100%;
  position: absolute;
  left: 0;
  top: -2px;
  text-align: start;
  border-bottom: 1px solid #000;
  font-weight: 500;
  font-size: 0.6rem;
  line-height: 0.1rem;
  border-radius: 4px;
}

.main-container .products-section .product-options .products-option-left .products-sorting h2 span {
  background: #fff;
  margin-left: 0.6rem;
  padding: 0 2px;
}

.main-container .products-section .product-options .products-option-left .products-condition {
  width: 15rem;
  position: relative;
  border: 1px solid #B4B4BB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.main-container .products-section .product-options .products-option-left .products-condition a i {
  position: absolute;
  right: 1rem;
}

.main-container .products-section .product-options .products-option-right {
  margin-right: 1rem;
}

.main-container .products-section .product-options .products-option-right .btn-link {
  margin: 0 -0.2rem;
  font-size: 0.8rem;
  background: #EBF2FF;
  border-radius: 4px;
  max-width: 8rem;
  height: 2rem;
  text-decoration: none;
}

.main-container .products-section .product-options .products-option-right .btn-link a {
  word-wrap: none;
  text-align: center;
  color: #2264D1;
}

.main-container .products-section .product-options .products-option-right .btn-link.actived {
  background: #fff;
  -webkit-box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
          box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
  border-radius: 4px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

footer .footer-text {
  margin-top: 2rem;
  list-style-type: none;
}

footer .footer-text .text-bold {
  font-size: 1.2rem;
  font-weight: bold;
}

footer .footer-logo img {
  max-width: 32rem;
}

footer .footer-logo p {
  margin-top: 1rem;
  max-width: 23rem;
}

@media (min-width: 2560px) {
  html {
    font-size: 40px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 30px;
  }
  nav .search-form {
    min-width: 50rem !important;
  }
  nav .search-form input {
    height: 2.5rem;
  }
  .hot-today-section {
    width: 100rem !important;
  }
  .hot-today-section .splide-2 .splide__track {
    width: 90rem;
    margin-left: -18rem;
  }
  .slide-container-1 .splide__slide {
    width: 1500px;
    padding-left: 50px;
  }
  .main-container .category-container {
    margin-top: 0.5rem;
    margin-left: auto;
  }
  .main-container .products-section {
    margin-right: auto;
  }
}

@media (max-width: 1440px) {
  .slide-container-1 {
    max-width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slide-container-1 .splide {
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
  }
  .slide-container-1 .splide__slide {
    width: 800px;
    padding-left: 50px;
  }
}

@media (min-width: 990px) {
  nav .navbar-brand {
    margin-top: 20px;
    margin-left: 3rem;
  }
  nav .navbar-nav {
    margin-top: 20px;
    font-size: 1.2rem;
  }
  nav .navbar-section {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav .search-form {
    margin-top: 1.4rem;
  }
  nav .search-form input {
    min-width: 25rem !important;
    margin-left: .6rem;
  }
  nav .ic-nav {
    margin-left: 100px;
  }
  nav .ic-nav .cart {
    margin-top: 5px;
  }
  nav .ic-nav .bell {
    margin-top: 0 !important;
    margin-left: 30px;
  }
  nav .ic-nav .rounded {
    margin-top: 7px;
    margin-left: 10px;
  }
  .splide {
    max-width: 62.5rem !important;
    margin: 0 auto;
    margin-top: 30px;
  }
  .splide img {
    width: 62,5rem;
  }
  .hot-today-section {
    position: relative;
    width: 70rem;
    height: 38rem;
    background: rgba(196, 196, 196, 0.19);
    border-radius: 102px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .hot-today-section .text {
    font-weight: 700;
    font-size: 3rem;
    padding-top: 3rem;
    padding-left: 5.5rem;
  }
}

@media (max-width: 990px) {
  html {
    font-size: 11px;
  }
  .main-container {
    max-width: 60rem;
    margin: 0 auto;
    margin-top: 1.5rem;
  }
}

@media (max-width: 790px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 690px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
}
/*# sourceMappingURL=style.css.map */