*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Inter',
 sans-serif;
}

nav{
  font-size: 20px;
  .navbar-toggler{
    margin-top: 20px;
  }
 .navbar-brand{
   margin-top: 20px;
  img{
   width: 175px;
  }
 }
  .search-form {
    position: relative;
    margin-top: 20px;
    input {
     border-radius: 50px;
     max-width: 100% !important;
     height: 44px;
    }

    img {
     width: 20px;
     height: 20px;
    }

    button {
     position: absolute;
     background-color: #fff;
     top: 2px;
     right: 15px;
    }
   }
  
 .ic-nav{
   display: flex;
   flex-direction: row;
   margin-top: 20px;
   margin-left: 5px;

  .cart{
   width: 30px;
  }
  .bell{
    margin-left: 20px;
    margin-top: -3px;
    width: 40px;
  }
 }
 .rounded {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50% !important;
  display: inline-block;
 }
}

@media (min-width:990px) {
  nav{
    .navbar-brand{
      margin-top: 20px;
    }
    .navbar-nav{
      margin-top: 20px;
      font-size: 1.2rem;
    }
    .search-form {
      margin-top: 20px;

      input {
        width: 440px !important;
        margin-left: 10px;
      }
    }

    .ic-nav {
      margin-left: 50px;

      .cart {
        margin-top: 5px;
      }

      .bell {
        margin-top: 0 !important;
        margin-left: 30px;
      }

      .rounded {
        margin-top: 7px;
        margin-left: 10px;
      }
    }
  }
 
}